body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(89, 185, 192);
}

header {
    background-color: rgb(110, 238, 238);
    text-align: center;

}

#main_content{
    background-color: rgb(110, 238, 238);
}

section#introduction {
    color: black;
    text-align: center;

}

section#about_user {
    margin: 20px;
    
}

#footer {
    text-align: right;
    background-color: blue;
    color: white;
    font-size: 20px;
    text-shadow: 1px 1px 2px black;
    position: fixed;
    width: 98%;
    bottom: 0;
}

button {
    color: rgb(255, 254, 220);
    background-color: rgb(14, 13, 13);
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
    margin: 5px;
}

button:hover {
    background-color: rgb(55, 55, 55);
}
